@import "@styles/settings/__settings";

.details {

  display: block;
  width: 100%;
  max-width: 50em;
  text-align: left;
  margin: 1em auto;

  summary {

    font-size: 1.3em;
    font-weight: 600;
    border: solid 5px transparent;
    padding: .5em .8em;
    margin: 0 -.8em;

    &:active,
    &:focus {
      border: solid 5px $color-secondary;
    }

    &::-webkit-details-marker {
      color: $color-primary;
    }

  }

  ul  {
    padding-left: 1.2em;
  }

  ul,
  p {

    font-size: 1.2em;

    &:last-child {
      margin-bottom: 2em;
    }

  }

  li {
    margin-bottom: .2em;
  }

}