@import "@styles/settings/__settings";

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: inherit;
  font-size: 1.3em;
  font-weight: 700;
  background-color: $color-primary;
  padding: .8em 1.4em;
  border: 0;
  cursor: pointer;

  svg {
    margin: 0 .5em 0 0;
  }

}