@import "@styles/settings/__settings";

.form {

  font-size: .8em;

  input,
  button {
    width: 100%;
    max-width: 17rem;
  }

  input,
  textarea {
    font-size: 1.2em;
    text-align: center;
    font-family: inherit;
    padding: .8em;
    border: solid 2px $color-gray-400;
  }

}