@import "@styles/settings/__settings";

.sessionSection {

  padding: 0;
  margin: 1rem 0;

}

.sessionContainer {
  display: flex;
  justify-content: space-between;

  h1 {
    font-size: 2em;
    margin: 0;
  }

}

.sessionSignIn {

  margin: 0;

  button {
    font-size: .9em;
    margin-left: .5em;
  }

}

.twitch {
  display: flex;
}

.forms {

  width: 40%;
  padding-right: 4em;

  form {

    margin-bottom: 3em;

    &:last-child {
      margin-bottom: 0;
    }

  }

  h2 {
    margin-top: 0;
  }

  input,
  label,
  textarea {
    width: 100%;
    text-align: left;
    max-width: none;
  }

  textarea {
    min-height: 6em;
  }

  label {
    display: block;
    margin-bottom: 1em;
  }

}

.tweetHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tweetHeaderAs {

  display: inline-flex;
  align-items: center;
  font-weight: normal;
  font-size: .8em;

  svg {
    font-size: .9em;
    margin-right: .4em;
  }

}

.preview {

  width: 60%;

  figure {
    margin: 0;
  }

  figcaption {

    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: .5em;

    svg {
      margin-right: .5em;
    }

  }

  &[data-screenshot-state="error"] {

    figure {
      color: white;
      background: $color-red-600;
    }

    figcaption {
      position: static;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      text-align: center;
      padding: 1.5em;
      font-size: 1.2em;
    }

  }

}

.previewImage {

  position: relative;
  aspect-ratio: 1920 / 1080;
  background: $color-gray-100;

  [data-screenshot-state="loading"] & {
    background: linear-gradient(90deg, $color-gray-100 30%, lighten($color-gray-100, 5) 50%, $color-gray-100 70%);
    background-size: 400%;
    animation: loading 1.2s ease-in-out infinite;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
  }

}

@keyframes loading {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}